@font-face {
  font-family: "iconfont"; /* Project id 3917185 */
  src: url('iconfont.woff2?t=1677329952687') format('woff2'),
       url('iconfont.woff?t=1677329952687') format('woff'),
       url('iconfont.ttf?t=1677329952687') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daimawenjian:before {
  content: "\e877";
}

.icon-zhuzhuangtu:before {
  content: "\e87a";
}

.icon-lishiwenjianjia:before {
  content: "\e880";
}

.icon-renwu:before {
  content: "\e881";
}

.icon-shanchuwenjianjia:before {
  content: "\e882";
}

.icon-bianji:before {
  content: "\100fe";
}

.icon-chakansousuo:before {
  content: "\100ff";
}

.icon-bofang:before {
  content: "\10100";
}

.icon-daka:before {
  content: "\10101";
}

.icon-cunchu:before {
  content: "\10102";
}

.icon-dangan:before {
  content: "\10103";
}

.icon-pinglun:before {
  content: "\10104";
}

.icon-kaitonghuiyuan:before {
  content: "\ffba";
}

.icon-yaoqinghaoyou:before {
  content: "\ffbb";
}

.icon-shangjiadianpu:before {
  content: "\ffbc";
}

.icon-huangguanyonghu:before {
  content: "\ffbd";
}

.icon-guanjunjiangbei:before {
  content: "\ffbe";
}

.icon-xitonggonggao:before {
  content: "\ffc1";
}

.icon-shequpinglun:before {
  content: "\ffc2";
}

.icon-xiangce:before {
  content: "\ffc4";
}

.icon-rili:before {
  content: "\ffca";
}

.icon-zixun:before {
  content: "\ffcb";
}

