@font-face {
  font-family: "iconfont"; /* Project id 3917187 */
  src: url('iconfont.woff2?t=1677329959415') format('woff2'),
       url('iconfont.woff?t=1677329959415') format('woff'),
       url('iconfont.ttf?t=1677329959415') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangda:before {
  content: "\e6ad";
}

.icon-anquan:before {
  content: "\e6ae";
}

.icon-suoxiao:before {
  content: "\e6af";
}

.icon-shezhi:before {
  content: "\e6b0";
}

.icon-yonghu:before {
  content: "\e6b1";
}

.icon-sousuo:before {
  content: "\e6b2";
}

.icon-daoru:before {
  content: "\e6b3";
}

.icon-tongji:before {
  content: "\e6b4";
}

.icon-biaodan:before {
  content: "\e6b5";
}

.icon-shuju:before {
  content: "\e6b6";
}

.icon-tiaozheng:before {
  content: "\e6b7";
}

.icon-shouye:before {
  content: "\e6b8";
}

.icon-QQ:before {
  content: "\100bf";
}

.icon-dianhua:before {
  content: "\100c0";
}

.icon-fasong:before {
  content: "\100c1";
}

.icon-kongjian:before {
  content: "\100c2";
}

.icon-lianjie:before {
  content: "\100c3";
}

.icon-weixinzhifu:before {
  content: "\100c4";
}

.icon-xinxi:before {
  content: "\100c5";
}

.icon-riqi:before {
  content: "\100c6";
}

.icon-rili:before {
  content: "\100c7";
}

.icon-gouwu:before {
  content: "\100c8";
}

.icon-nanshi:before {
  content: "\100c9";
}

.icon-nvshi:before {
  content: "\100ca";
}

.icon-pengyouquan:before {
  content: "\100cb";
}

.icon-zhifubao:before {
  content: "\100cc";
}

.icon-quyu:before {
  content: "\100cd";
}

.icon-weixin:before {
  content: "\100ce";
}

.icon-weibo:before {
  content: "\100cf";
}

.icon-wangluo:before {
  content: "\100d0";
}

.icon-qunliao:before {
  content: "\100d1";
}

