@font-face {
  font-family: "iconfont"; /* Project id 3917190 */
  src: url('iconfont.woff2?t=1677329967856') format('woff2'),
       url('iconfont.woff?t=1677329967856') format('woff'),
       url('iconfont.ttf?t=1677329967856') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-binggun:before {
  content: "\e85c";
}

.icon-binggan:before {
  content: "\e85d";
}

.icon-chengzi:before {
  content: "\e85e";
}

.icon-buding:before {
  content: "\e85f";
}

.icon-dangao:before {
  content: "\e860";
}

.icon-conghua:before {
  content: "\e861";
}

.icon-jiandan:before {
  content: "\e862";
}

.icon-bingqilin:before {
  content: "\e863";
}

.icon-jiemo:before {
  content: "\e864";
}

.icon-fantuan:before {
  content: "\e865";
}

.icon-boluo:before {
  content: "\e866";
}

.icon-caomei:before {
  content: "\e867";
}

.icon-jitui:before {
  content: "\e868";
}

.icon-lajiao:before {
  content: "\e869";
}

.icon-naixi:before {
  content: "\e86a";
}

.icon-hanbao:before {
  content: "\e86b";
}

.icon-pingguo:before {
  content: "\e86c";
}

.icon-nailao:before {
  content: "\e86d";
}

.icon-fanqiejiang:before {
  content: "\e86e";
}

.icon-kafeibei:before {
  content: "\e86f";
}

.icon-niujiaomianbao:before {
  content: "\e870";
}

.icon-luobu:before {
  content: "\e871";
}

.icon-regou:before {
  content: "\e872";
}

.icon-kaomianbaopian:before {
  content: "\e873";
}

.icon-qiaokeli:before {
  content: "\e874";
}

.icon-sudaqishui:before {
  content: "\e875";
}

.icon-niunai:before {
  content: "\e876";
}

.icon-yumibaobingjuan:before {
  content: "\e877";
}

.icon-wandou:before {
  content: "\e878";
}

.icon-xiangjiao:before {
  content: "\e879";
}

.icon-shousi:before {
  content: "\e87a";
}

.icon-mogu:before {
  content: "\e87b";
}

.icon-li:before {
  content: "\e87c";
}

.icon-yumi:before {
  content: "\e87d";
}

.icon-xilanhua:before {
  content: "\e87e";
}

.icon-tiantianquan:before {
  content: "\e87f";
}

.icon-yingtao:before {
  content: "\e880";
}

.icon-qiezi:before {
  content: "\e881";
}

.icon-huluobu:before {
  content: "\e882";
}

.icon-quqi:before {
  content: "\e883";
}

.icon-zhibeidangao:before {
  content: "\e884";
}

.icon-tiangua:before {
  content: "\e885";
}

.icon-rouwan:before {
  content: "\e886";
}

.icon-putao:before {
  content: "\e887";
}

.icon-peigen:before {
  content: "\e888";
}

.icon-taozi:before {
  content: "\e889";
}

.icon-pisa:before {
  content: "\e88a";
}

.icon-shutiao:before {
  content: "\e88b";
}

.icon-qingjiao:before {
  content: "\e88c";
}

.icon-xigua:before {
  content: "\e88d";
}

